aiohttp
requests
beautifulsoup4
lxml
streamlit

pandas
numpy

sentence-transformers
scikit-learn

google-genai
google-generativeai
python-dotenv
json-repair
pytrends
pillow

tqdm
rich

feedparser
praw

